#download-link {
    margin-left: 5%;
}

#download-button {
    margin-top: 2%;
}

#page-title {
    margin-top: -1%;
    margin-left: -78%;
    margin-bottom: 1%;
}

#sheet-container {
    margin-top: 4%;
}

#chat-box {
    margin-left: 60%;
    /* margin-bottom: 80%; */
    z-index: 10;
    top: 10%;
    position: absolute;
}

.sheetPage {
    position: relative;
}