#csv-display {
    margin-left: 5%;
}

#download-link {
    margin-left: 5%;
}

#download-button {
    margin-top: 2%;
}

#page-title {
    margin-top: -10%;
    margin-left: -157%;
    margin-bottom: 1%;
}

#sheet-container {
    margin-top: 4%;
}

#chat-box {
    display: flex;
    margin-left: 70%;
    max-width: 50%;
    margin-top: 5%;
    /* margin-left: 60%;
    margin-bottom: 80%;
    z-index: 10;
    margin-bottom: -25%;
    position: absolute; */
}

.sheetPage {
    position: relative;
}